body{
    margin:0;
    text-align: center;
}

div{
    background-color: #e4f9f5;
}

h1{
    width: 10%;
    margin: 0 auto;
}


.MiddleContainer {
    background-color: red;
    height: 200px;
    width: 200px;
}

.BottomContainer {
    background-color: blue;
    height: 200px;
    width: 200px;
}

.dev{
    text-decoration: underline;
}