body{
    color: #40514e;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.TopContainer {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

h1{
    color: #66bfbf;
    font-size: 562.5%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

.TopContainer p{
    font-family: 'Montserrat', sans-serif;
    color: #66bfbf;
    font-weight: normal;
}

h2{
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
}

h3{
    color: #11999e;
    font-family: 'Montserrat', sans-serif; 
}


.dev{
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.top-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.TopContainer p {
    font-size: 2.5rem;
}

.profileimg {
    margin-top: 50px;
    width: 11rem;
}

.skillimg1 {
    border-radius: 120%;
    width: 30%;
    float: left;
    margin: auto 30px;
}
.skillimg2 {
    border-radius: 120%;
    width: 30%;
    float: right;
    margin: auto 30px;
}

.skill-row1 {
    width: 50%;
    margin: 50px auto 130px auto;
    text-align: left;
    line-height: 2;
}
.skill-row2 {
    width: 50%;
    margin: 150px auto 130px auto;
    text-align: left;
    line-height: 2;
}

.introduction {
    width: 30%;
    margin: auto;
}

hr{
    margin: 50px auto 100px auto;
    border-style: dotted none none;
    border-color: gray;
    border-width: 5px;
    height:0px;
    width:7%;
}

.contact-message{
    width: 40%;
    margin: 40px auto 30px auto;
}

.bottom-container{
    margin-top: 100px;
}


              

                


