body{
    margin:0;
}

div{
    background-color: #e4f9f5;
}

h1{
    margin-top: 0;
}


.MiddleContainer {
    background-color: red;
    height: 200px;
    width: 200px;
}

.BottomContainer {
    background-color: blue;
    height: 200px;
    width: 200px;
}

.dev{
    text-decoration: underline;
}