img{
    width:130px;
}
/*
img:hover {
    background-color: aqua;
}
*/

body{
    background-color:  #eaf6f6 ;
}

hr{
    border-style: dotted none none;
    border-color: gray;
    border-width: 5px;
    height:0px;
    width:7%;
}
h1,h3{
    color: #66bfbf;
}